################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CurrencyQuotesWebUi/v15/Server/sqlite3
/.vs/CurrencyQuotesWebUi/DesignTimeBuild/.dtbcache
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.Views.pdb
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.Views.dll
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.runtimeconfig.json
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.runtimeconfig.dev.json
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.pdb
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.dll
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesWebUi.deps.json
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesCore.pdb
/CurrencyQuotesWebUi/bin/Debug/netcoreapp2.2/CurrencyQuotesCore.dll
/CurrencyQuotesWebUi/obj/Debug/netcoreapp2.2
/CurrencyQuotesWebUi/obj
